/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 25%;
    background-color: rgb(77, 82, 82);
    height: 100%;
}

h2 {
    padding-top: 7vh;
    font-weight: bold;
    color: white;
    font-family: Calibri;
    font-size: 3vw;
    text-decoration: underline;
    display: flex;
    justify-content: center; 
}

.addProject {
    background-color: rgb(77, 82, 82);
    border: none; 
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    display: inline-block; 
    font-size: 1vw; 
    margin: 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    position: relative; 
    display: flex;
    justify-self: end;
}

.addProject::before {
    content: "+ ";
    color: red; 
    font-weight: bold; 
    position: absolute;
    left: 0.6vw; 
    font-size: 1.2vw;
    top: 50%; 
    transform: translateY(-50%); 
}

.addProject:hover {
    background-color: rgb(166, 164, 164);
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(77, 82, 82);
    margin: 7% auto; 
    padding: 0.7vw;
    border: 0.5vw solid #888;
    width: 80%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2vw;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styles */
.form-group {
    margin-bottom: 1.5vh; 
}

label {
    color: #e8e6e6; 
    font-weight: bold;
    display: block; 
    font-size: 2vw;
    font-family: Calibri;
}

input, textarea {
    width: 100%; 
    padding: 0.4vw; 
    border: 0.1vw solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    font-size: 1.5vw;
}

button {
    background-color: #4CAF50; 
    color: white; 
    padding: 0.4vw 0.6vw; 
    border: none; 
    cursor: pointer; 
    border-radius: 0.3vw; 
    font-size: 1vw; 
    margin-top: 10px;
    margin-bottom: 20px; 
}

button:hover {
    background-color: #45a049;
}

/* Project List Styles */
#projectList {
    list-style-type: none; 
    padding: 0; 
    margin: 20px 0; 
}

#projectList li {
    background-color: rgb(77, 82, 82);
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 4px; 
    font-size: 2em; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    color: #e8e6e6;
    font-family: Calibri;
}

#projectList li:hover {
    background-color: rgb(166, 164, 164);
}

.bin-icon {
    color: red; 
    cursor: pointer; 
    font-size: 1em; 
    margin-left: auto;
}

.bin-icon:hover {
    color: darkred;
}
